body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
@font-face {
    font-family: 'myfont';
    src: url('../font/myfont.eot');
    src:
    url('../font/myfont.eot?#font-spider') format('embedded-opentype'),
    url('../font/myfont.woff') format('woff'),
    url('../font/myfont.ttf') format('truetype'),
    url('../font/myfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{font-size:20px;font-family:'myfont',arial;}

html,body{
	width: 100%;
	height: 100%;
}
body{
	background: url(../img/bg.jpg)no-repeat;
	background-size: cover;
}

.name p{
    font-family: 'myfont';
}
#wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
}
#loading{
	width: 100%;
	height: 100%;
	background: #b4dff4;
	/*display: none;*/
}
	
#loading div{
	width: 245px;
	position: absolute;
	left: 50%;
	margin-left: -122.5px;
	top: 50%;
	margin-top: -50px;
	text-align: center;
}
#loading p{
	background: url(../img/loading.jpg);
	background-size: 245px auto;
	height: 75px;
	-webkit-mask-image:url(../img/load_font.png);
	background-position-y: 0; 
}
#loading span{
    color: hsl(201, 83%, 63%);
    font-size: 20px;
    line-height: 40px;
}
.index{
	width: 100%;
	height: 100%;		
	position: relative;
	margin:auto;
	display: none;

}
.index .logo{
	width: 46.36159%;
	position: absolute;
	top: 2.931442%;
	left: 50%;
	margin-left: -20.7%;
}
.img_all{
	width: 85%;
    position: absolute;
    top: 12.3%;
    left: 0;
    right: 0;
    margin: auto;
}
.img_all img:nth-child(1){
    width: 100%;
    display: block;
    -webkit-animation-delay: 3s;
}
.img_all img:nth-child(2){
	width: 51.25%;
    display: block;
    position: absolute;
    left: 30%;
    top: 23.5%;
    -webkit-animation-delay: 4s;
}
.img_all img:nth-child(3){
	width: 25%;
    position: absolute;
    left: 6.5%;
    top: 17%;
     -webkit-animation-delay: 4s;
}
.ren{
	width: 94.5%;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;
}
.ren img{position: absolute;}
.ren img:nth-child(1){
	width: 33.4375%;
    left: 0%;
    position: relative;
    z-index: 7;
    -webkit-animation-delay: 2s;
}
.ren img:nth-child(2){
	width: 30.78125%;
	top: 17%;
    left: 20%;
    z-index: 8;
    -webkit-animation-delay: 1s;
}
.ren img:nth-child(3){
	width: 25.15625%;
	top: 24%;
	left: 37%;
    z-index: 9;
}
.ren img:nth-child(4){
	width: 20.15625%;
	top: 13%;
	left: 59%;
    z-index: 8;
    -webkit-animation-delay: 1s;
}
.ren img:nth-child(5){
	width: 25.3125%;
	top: 12%;
	left: 77%;
    z-index: 7;
    -webkit-animation-delay: 2s;
}
.index_bottom{
	width: 100%;
	height: 20%;
	position: absolute;
    top: 60%;
}
.index_bottom .btn img{
	width: 33%;	
    position: absolute;
    left: 32%;
    top: 76%;
}
.index_bottom .shouze img{
    width: 20%;
    position: absolute;
    top:140%;
    left: 38%;
}
.header{
	width: 100%;
	height: 100%;		
	position: relative;
	margin:auto;
	display: none;
}
.header .logo{
	width: 46.36159%;
	position: absolute;
	top: 2.931442%;
	left: 50%;
	margin-left: -20.7%;
}
.swiper-container{
	width: 80%;
	position: relative;
	margin: 0 auto;
	top: 15%;
	overflow: hidden;
}
.swiper-slide{
	width: 100%;
}
.swiper-slide .s_a{
	width: 100%;
	position: absolute;
	top: 0;
}
.swiper-slide .s_b{
	width: 100%;
    vertical-align: top;
}
.swiper-slide .s_c{
	width: 100%;
	vertical-align: top;
	opacity: 1;
	position: absolute;
	top: 0;
}
.swiper-slide .s_d{
	width: 100%;
	vertical-align: top;
	display: inline;
	position: absolute;
	top: 0;
	z-index: 9;
}
.swiper-button-next{
	background-image: url(../img/choice/s_tab_r.PNG);
	top: 36%;
}
.swiper-button-prev{
	background-image: url(../img/choice/s_tab_l.PNG);
	top: 36%;
}
.header_bottom{
	width: 100%;
	height: 20%;
	position: absolute;
    top: 64%;
}
.header_bottom .btn_one img{
	width: 33%;	
	position: absolute;
    left: 32%;
    top: 76%;
}
.game{
	width: 100%;
	height: 100%;		
	position: relative;
	margin:auto;
	display: none;
}
.game .logo{
	width: 46.36159%;
	position: absolute;
	top: 2.931442%;
	left: 50%;
	margin-left: -20.7%;
}
.game_all{
    width: 62%;
    padding-top: 122%;
    position: relative;
    margin: 0 auto;
    
}
.game_chat{
	width: 100%;
	position: absolute;
    z-index: 101;
    top: 18%;
    left: -30%;
}

.game_chat .one{
    width: 87.01657%;
    display: none;
}
.game_chat .two{
    width: 87.56906%;
    display: none;
}
.game_chat .three{
	width: 106.906%;
	display: none;
}
.toufa{
	width: 100%;
}
.toufa img:nth-child(1){
	z-index: 101;
    position: absolute;
	width: 20.0198216%;
    top: 24%;
    left: 81%;
}
.toufa img:nth-child(2){
	z-index: 101;
    position: absolute;
	width: 27.3538156%;
    top: 26%;
    left: 4%;
}
.toufa img:nth-child(3){
	z-index: 101;
    width: 24.6778989%;
    position: absolute;
    top: 21%;
    left: 86%;
    display: none;
}
.toufa img:nth-child(4){
	z-index: 101;
    position: absolute;
	width: 24.6778989%;
    top: 60%;
    left: -1%;
    display: none;
}
.toufa img:nth-child(5){
	z-index: 101;
    position: absolute;
	width: 65.0148662%;
    top: 52.5%;
    left: 19%;
    display: none;
}
.toufa img:nth-child(6){
	z-index: 101;
    position: absolute;
	width: 39.544103%;
    top: 62%;
    left: -16%;
    display: none;
}
.toufa img:nth-child(7){
	z-index: 101;
    position: absolute;
	width: 19.028741%;
    top: 25%;
    left: 88%;
    display: none;
}
.toufa img:nth-child(8){
	z-index: 101;
    position: absolute;
	width: 33.894945%;
    top: 57%;
    left: -6%;
    display: none;
}

.head{
	position: absolute;
    left: 0;
    top: 18%;
    width: 100%;
    z-index: 20;
}
.body{
	width: 100%;
	position: absolute;
	top: 62.6%;
}
.huapin{
	position: absolute;
    width: 16.354088%;
    top: 58.087719%;
    right: 15.595639%;
    animation: fadeInUp 1s infinite;
    -webkit-animation: fadeIn 1s infinite;
    z-index: 222;
}
.foot_left{
	width: 60%;
    left: -25%;
    bottom: -50px;
    position: absolute;

}
.foot p{
	width: 50%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: hsl(202, 85%, 42%);
    padding: 1%;
    background: url("../img/game/time_bg.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: -14% auto 0;
}
.result{
	width: 100%;
	margin: 0 auto; 
	display: none;
    padding-top: 4%;
    display: none;
}
.name{
    width: 94%;
    margin: 0 auto;
    z-index: 9;
    text-align: center;
}
.name img{
	width: 100%;
}
.name p{
	margin-top: -20%;
	color: hsl(202, 85%, 42%);
}
.result{
	display: none;
}
.result_score{
	width: 80%;
	margin: auto;
	text-align: center;
}
.result_score img{
	width: 20%;
	margin-top: 15%;
}
.result_con{
	width: 68.5%;
	margin: auto;
	margin-top: 4%;
	text-align: center;
}
.result_con img{
	width: 100%;
}
.result_con img:nth-child(2){
	margin-top: 4%;
}
.result_con img:nth-child(3){
	width: 90%;
	margin-top: 4%;
}
.result_btn{
	width: 90%;
	margin: auto;
	margin-top: 4%;
	text-align: center;
	z-index: 99999;
}
.result_btn img{
	width: 40%;
}
.lotteryn{
	display: none;
}
.lotteryn .head{
	width: 75%;
    margin: 0 auto;
    padding-top: 8%;
    position: relative;
    margin-left: 18%;
    z-index: 99999;
}
.lotteryn .head img{
	width: 100%;
}
.lotteryn_ul{
	width: 91.5%;
	margin: auto;
	margin-top: 1%;
}
.lotteryn_ul ul{
	width: 100%;
	margin: 0;
	padding: 0;
}
.lotteryn_ul li{
	display: inline-block;
	width: 28.36%;
	margin-left: 2.8%;
}
.lotteryn_ul li img{
	width: 100%;
}
.lotteryn_phone{
	width: 75%;
	margin: auto;
	margin-top: 4px;
	position: relative;
}
.lotteryn_phone .phone{
	position: absolute;
    left: 45%;
    top: 21.5%;
    font-size: 20px;
    color: hsl(202, 79%, 44%);
    font-family: "my-font";
    border: none;
    width: 47%;
    z-index: 99999;
}
.lotteryn_phone img{
	width: 100%;
}
.refer{
	width: 100%;
	text-align: center;
	margin-top: 1.65%;
}
.refer img{
	width: 30%;
    margin: auto;
	display: block;
}
.lotteryn .a {
	width: 20%;
	display: block;
	margin: 1.65% auto 1.65%;
}
.lotteryn .a img{
   width: 100%;
}
.lotteryn .img{
	width: 60%;
	margin:1.65% auto ;
}
.lotteryn .img img{
	width: 100%;
}
.share{
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	display: none;
}
.share img:nth-child(1){
	position: absolute;
    width: 9.7524381%;
    top: 13%;
    left: 84.32108%;
}
.share img:nth-child(2){
	position: absolute;
	width: 13.87846%;
    top: 2.4%;
    left: 74.2685%;
}
.share img:nth-child(3){
	position: absolute;
	width: 61.44036%;
    top: 13%;
    left: 15.303825%;
}
.share img:nth-child(4){
	position: absolute;
	width: 16.65416%;
    top: 3.5%;
    left: 41.93548%;
}
.share img:nth-child(5){
    position: absolute;
    left: 7.6519129%;
    top: 38.2%;
    width:84.846211%;
}
.share img:nth-child(6){
	width: 100%;
	position: absolute;
	top: 44%;
}
.rule{
	width: 83%;
	padding-top: 3%;
	margin: auto;
	position: relative;
	z-index: 9;
	display: none;
}
.rule img:nth-child(1){
	width: 100%;
}
.rule img:nth-child(2){
	width: 11%;
	height: 6%;
	position: absolute;
	top: 13.5%;
	left: 82%;
}
.rule a{
    width: 35%;
    height: 60px;
    left: 32%;
    z-index: 99;
    position: absolute;
    top: 64%;
}
.rule_two{
	width: 84%;
	padding-top: 12%;
	margin: auto;
	position: relative;
	z-index: 9;
	display: none;
}
.rule_two img:nth-child(1){
	width: 100%;
}
.rule_two img:nth-child(2){
	width: 15%;
	height: 9%;
	position: absolute;
	top: 10%;
	left: 80%;
	z-index: 8
}
.rule_two p{
	margin: auto;
    position: absolute;
    top: 10%;
    font-size: 16px;
    color: hsl(202, 85%, 42%);
}
.rule_two p:nth-child(3){
	font-size: 28px;
	padding-top: 6%;
	margin-left: 28%
}
.rule_two p:nth-child(4){
	width: 84%;
	padding-top: 22%;
	margin-left: 8%;
	line-height: 17px;
}